<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MyAnimeStore</a>
    <ul>
      <li><a href="/authors">Genres</a></li>
      <li><a href="/authors/new">Add Genre</a></li>
      <li><a href="/books">Animes</a></li>
      <li><a href="/books/new">Add Anime</a></li>
    </ul>
  </nav>
</header>
